body {
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: 'Manrope';
}

#writing-page {
  text-align: left;
}

#research-page {
  text-align: center;
}

#content-box {
    opacity: 87%;
    /*width: 65%;
    height: 70%;*/
    width: fit-content;
    max-width: 65%;
    height: auto;
    border: 2px solid #333;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    position: relative;
    /*clip-path: url(#squiggly);*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 30px;
    border-width: 30px;
    border-color: darkcyan;
    transition: all 0.3s ease-in-out;
}

#details-block {
    padding: 30px;
    margin: 20px;
}

.close-button {
    position: absolute;
    top: 5px;
    left: 8px; /* Changed from right to left */
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.pink-squiggle-header {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
    text-decoration-thickness: 2px;
}

a {
  text-decoration: none;
  color: chocolate
}

li {
    display: flex;
    align-items: flex-start;
    padding: 10px 0;
    /*border-bottom: 1px solid #ccc;*/
}

.date {
    flex: 0 0 80px; /* fixed width for date */
    font-weight: bold;
    color: #555;
  }

.content {
      flex: 1;
    }

.url {
  /*font-size: 1rem;*/
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

.subtext {
  font-size: 0.875rem;
  color: #666;
  font-style: italic;
}

.navigation {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-emphasis: wavy;
}

.right {
      flex: 0 0 auto;
      color: #333;
      font-size: 0.9rem;
    }

@media (max-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: column;
    }
}

.navigation button {
  background: none;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 10px;
  text-decoration: none;
  font-family: inherit;
}

.navigation button.active {
  color: darkred; 
  text-decoration-line: underline;
  text-decoration-style: double;
  font-weight: bold;
}

.paper-title {
    color: darkcyan;
    text-decoration: none;
    font-weight: bold;
}

.photo-cred {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 8px;
  color: lightgray;
  font-size: 0.9em;
}

.bold-name {
    font-weight: bold;
}   

ul {
  padding-left: 1.2em; /* or adjust as needed */
  margin-left: 0;      /* optional: reset if default margin is too big */
  list-style-position: inside; /* optional: puts bullet closer to text */
}

.pending {
    font-weight: normal;
    font-style: italic;
    font-size: small;
}